body {
    background:
        linear-gradient(146.11deg,
            #ebd8b7 20.43%,
            rgba(255, 255, 255, 0) 79.91%),
        linear-gradient(202.81deg, #ebd8b7 38.99%, rgba(255, 255, 255, 0) 85.2%),
        #ebd8b7;
}

@font-face {
    font-family: 'Hafs';
    src: url('KFGQPC Uthmanic Script HAFS Regular.otf');
    font-weight: normal;
}

.verse-text {
    font-family: Hafs !important;
    font-size: 32px;
    font-weight: normal;
    color: var(--bs-primary);
}

.fa-circle-check {
    color: #198754;
}

.fa-circle-xmark {
    color: #dc3545;
}

.bottom-align-text {
    position: absolute;
    vertical-align: bottom
}

/* Selecteur de rooms */
.col-md-4 {
    margin-top: 27px
}

.room-card {
    cursor: pointer;
}
